# Core ML Libraries
tensorflow
numpy
pandas
scikit-learn
matplotlib
seaborn
Pillow


# Web Framework
Flask
Flask-CORS
Werkzeug

# API and File Handling
python-multipart
python-dotenv

# Monitoring and Logging
psutil

# Load Testing
locust

# Image Processing
opencv-python
scikit-image

# Utilities
tqdm
joblib

# Production server
gunicorn